{% extends 'base.html.twig' %}

{% block nav %}
    {{ include('partials/header.html.twig', {title: 'Feedback items'|trans}) }}
{% endblock %}

{% block content %}
    {% if items %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Created at'|trans }}</th>
                <th>{{ 'Created by'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.data.description|default('–') }}</td>
                    <td>{{ item.createdAt|date(constant('\\DateTimeImmutable::ATOM')) }}</td>
                    <td>{{ item.createdBy|default('–') }}</td>
                    <td>
                        <a href="{{ path('tidy_feedback_show', {id: item.id}) }}">
                            {{ 'View'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">{{ 'Not feedback yet'|trans }}</div>
    {% endif %}
{% endblock %}
