{% set config = {
    messages: {
        'Extend your selection …': 'Extend your selection …'|trans,
        'Fill in the feedback form': 'Fill in the feedback form'|trans,
        'Click on an element or click and drag to mark a region …': 'Click on an element or click and drag to mark a region …'|trans,
    },
} %}
{# Cf. https://github.com/zumerlab/snapdom/blob/main/README.md#features #}
{% set capture_exclude_attributes = 'data-capture="exclude"' %}
<style {{ capture_exclude_attributes|raw }}>
    @import {{ path('tidy_feedback_asset', {asset: 'widget.css'})|json_encode(constant('JSON_UNESCAPED_SLASHES'))|raw }};
</style>
<script {{ capture_exclude_attributes|raw }} src="{{ path('tidy_feedback_asset', {asset: 'widget.js'}) }}"
                                             data-tidy-feedback-config="{{ config|json_encode }} "></script>
<div {{ capture_exclude_attributes|raw }}>
    <div {{ capture_exclude_attributes|raw }} hidden class="tidy-feedback-message"></div>
    <button {{ capture_exclude_attributes|raw }} hidden class="tidy-feedback-start"
                                                 data-tidy-feedback-action="start">{{ 'Feedback'|trans }}</button>
    <button {{ capture_exclude_attributes|raw }} hidden class="tidy-feedback-cancel"
                                                 data-tidy-feedback-action="cancel">{{ 'Cancel'|trans }}</button>

    <form {{ capture_exclude_attributes|raw }} hidden class="tidy-feedback-form"
                                               action="{{ path('tidy_feedback_create') }}">
        {# "subject" is required and all other inputs with be stored in the data blob on the feedback item. #}
        <label>{{ 'Subject'|trans }}
            <input name="subject" required placeholder="{{ 'Subject'|trans }}"/>
        </label>

        <label>{{ 'What did you do?'|trans }}
            <textarea name="what_did_you_do" required placeholder="{{ 'What did you do?'|trans }}"></textarea>
        </label>

        <button>{{ 'Submit feedback'|trans }}</button>
    </form>
</div>
