{% import './partials/forms.html.twig' as forms %}

{# Cf. https://github.com/zumerlab/snapdom/blob/main/README.md#features #}
{% set capture_exclude_attributes = 'data-capture="exclude"' %}

{# Translate all messages used in showMessage in the widget here. #}
{% set messages = {
    'Confirm cancellation': 'Confirm cancellation'|trans,
    'Error taking screenshot': 'Error taking screenshot'|trans,
    'Feedback created': 'Feedback created'|trans,
    'Highlight and fill': 'Highlight and fill'|trans,
    'Send feedback': 'Send feedback'|trans,
    'Sending feedback …': 'Sending feedback …'|trans,
    'Taking screenshot …': 'Taking screenshot …'|trans,
    Cancel: 'Cancel'|trans,
    Cancelled: 'Cancelled'|trans,
    Feedback: 'Feedback'|trans,
    } %}
{% set config = {
    messages: messages,
    } %}

<template id="tidy_feedback_form" data-tidy-feedback-config="{{ config|json_encode }}">
    <form class="tidy-feedback-form-elements" action="{{ path('tidy_feedback_create') }}" method="post">
        <h1 class="tidy-feedback-form-title">{{ 'Your feedback'|trans }}</h1>
        <p class="tidy-feedback-form-lead">{{ 'Highlight the relevant part of the page and fill in the form to send us your feedback'|trans }}</p>

        {# "subject" is required and all other inputs with be stored in the data blob on the feedback item. #}
        {{ forms.input('subject', 'Subject'|trans, {
            placeholder: 'Subject'|trans,
            value: default_values['subject']|default(''),
            }) }}

        {{ forms.input('created_by', 'Your email address'|trans, {
            type: 'email',
            placeholder: 'Your email address'|trans,
            value: default_values['email']|default(''),
            readonly: default_values['email'] is defined,
            }) }}

        {{ forms.textarea('description', 'Description'|trans, {
            placeholder: 'Description'|trans,
            value: default_values['description']|default(''),
            }) }}
        {{ forms.textarea('what_did_you_do', 'What did you do?'|trans, {
            placeholder: 'What did you do?'|trans,
            required: false,
            value: default_values['what_did_you_do']|default(''),
            }) }}
    </form>
</template>
<script {{ capture_exclude_attributes|raw }} src="{{ path('tidy_feedback_asset', {asset: 'standalone/tidy_feedback.min.js'}) }}"></script>
